html,body {
  height: 100%;
  margin:0%;
  
}

.signup-body, .login-body{
	height: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(137,198,207,0.8631827731092436) 4%, rgba(137,198,207,1) 49%);
	font-family: "Abril Fatface"; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.login-form{
	background-color: white;
	border-radius: 25px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	width: 50%;
	height:50%;
	
}

.signup-form{
	background-color: white;
	border-radius: 25px;
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height:50%;
	justify-content:center;
	
	
}

.login-form input[type=text] {
  padding:10px;
  border-radius:10px;
}
.login-form input[type=password] {
  padding:10px;
  border-radius:10px;
}
.login-form input[type=submit] {
  	color: black;
	text-decoration: none;
	border: solid;
	border-radius: 50%;
	font-size: 12px;
	padding: 10px;
	margin-left: 20px;
	background-color: white;
}

.signup-form input[type=text] {
  padding:10px;
  border-radius:10px;
}
.signup-form input[type=password] {
  padding:10px;
  border-radius:10px;
}
.signup-form input[type=submit] {
  	color: black;
	text-decoration: none;
	border: solid;
	border-radius: 50%;
	font-size: 12px;
	padding: 10px;
	margin-left: 20px;
	background-color: white;
}

.signup-form h1{
	background-color: white;
	text-align: center;
}

.login-header {
	color: white;
	letter-spacing: 5px;
	line-height: 42px;
}

.login-header h1{
	color: white;
}

.login-header h2{
	color: white;
	font-size: 20px;
}
.signup-header{
	color: white;
	letter-spacing: 5px;
	line-height: 42px;
}

.signup-header h1{
	color: white;
}

.signup-header h2{
	color: white;
	font-size: 20px;
}

.signup-body a{
	color: white;
	text-decoration: none;
	border: solid;
	border-radius: 50%;
	font-size: 12px;
	padding: 10px;
	margin-left: 20px;
}

.login-body a{
	color: white;
	text-decoration: none;
	border: solid;
	border-radius: 50%;
	font-size: 12px;
	padding: 10px;
	margin-left: 20px;
}

.homepage{
	color:white;
	border-top-style:solid;
	border-width: 7px;
	border-image: radial-gradient(coral, lime, aqua, blue, magenta, red) 1;

}

h1,h2,p{
	line-height:.3;
}


.home-introduction{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding: 15px 0px 50px 30px;
	background-image: linear-gradient( 91.9deg,  rgba(35,107,250,1) 6.3%, rgba(25,159,249,1) 98.9% );

}


.navbar img{
	width:80px;
	height:80px;
	padding: 10px 0px 0px 10px;
}
.navbar {
	display:flex;
	justify-content:space-between;
	background-image: linear-gradient( 91.9deg,  rgba(35,107,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
	align-items:center;

}
.currentTab{
	background-color:rgba(75,179,249,1);
	border-radius:20px;
	padding:10px 25px 10px 25px;
}
.currentTab:hover{
	background-color:rgba(35,179,249,1);
	color: white;

}

nav ul{
	display:flex;
	flex-direction:row;
}
nav li{
	text-decoration:none;
	list-style-type:none;
	margin-right:10px;
	padding-right:10px;
	
}

nav a{

	padding:10px 15px 10px 15px;

}
nav a:hover{
	color:rgba(35,179,249,1);

}
li a{
	text-decoration:none;
	font-size:25px;
	
}

nav a{
	text-decoration:none;
	color:white;
	
}

.login-link{
	margin-top:40px;
}
.login-link a{
	text-decoration:none;
	color:black;
	font-size:20px;
	border-radius:10px;
	padding:15px 50px 15px 50px;
	background-color:white
}
.login-link a:hover{
		background-color:rgba(75,179,249,1);
		color:white;
}

.intro-bottom{
	display:flex;
	align-items:center;
	justify-content:center;
 	color:black;
 	margin-top:20px;
 	flex-direction:column;
}


.intro-bottom th{
	font-size:20px;
}
.intro-bottom img{
	width:170px;
	height:170px;
	padding:20px;
}

 .budgetform-list{
/* 	border:2px solid blue; */
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin:10px 20px 10px 20px;

} 

.boxForm{
/* 	border:2px solid black; */
	width:500px;
	height:500px;
	margin-top:20px;
	margin-bottom:20px;
	border-radius:5%;
	background-image: linear-gradient( 91.9deg,  rgba(35,107,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
	color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
} 

.boxForm h2{
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 28px;
}

.boxForm input[type=number] {
  padding:15px;
  border-radius:12px;
  border-style:none;
}

.boxForm input[type=submit] {
  color: black;
	text-decoration: none;
	border-style:none;
	border-radius: 25%;
	font-size: 12px;
	padding: 12px;
	background-color: white;
}
.boxForm input[type=submit]:hover {
	cursor: pointer;
}

#dashform-heading{
	text-align:center;
	margin:45px 0px 20px 0px;
	font-size:30px;
}

.dashheading{
    text-align:center;
    margin:45px 0px 20px 0px;
    font-size:40px;
}
.budgetlist{
/*     border:2px solid blue; */
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:10px 20px 10px 20px;
}

.box{
/*     border:2px solid black; */
    width:600px;
    margin-top:5%;
    margin-bottom:5%;
    border-radius:5%;
    background-image: linear-gradient( 91.9deg,  rgba(35,107,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
    color:white;
}
.flexbox {
	display: flex;
	margin-bottom: 5%;
}
.flexbox .leftbox {
	width: 50%;
	margin-top: 5%;
	margin-left: 5%;
}
.flexbox .rightbox {
	width: 50%;
	margin-top: 5%;
	margin-right: 5%;
}
.month{
    text-align:center;
}

.category{
    margin:20px 0px 0px 0px;
}

.box p{
    margin-left:60px;
    margin-top:25px;
    font-size:20px;
}
.addform{
    display:flex;
    color:white;
    background:blue;
    border-radius:50%;
    width:70px;
    height:70px;
    text-align:center;
    justify-content:center;
    align-items:center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin:0px 20px 10px 0px;
}

.addform p{
    font-size:50px;
    margin-top:42px;
    color:white;
    text-decoration:none;
    text-align:center;
}
